<a href="https://colab.research.google.com/github/trinhminhtris/Bai-tap-1-AI/blob/main/AI_W3_18_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Create dataframe
dataframe = pd.DataFrame()
# Add data
dataframe['Name'] = ['Lemon', 'Apple', 'Banana', 'Orange']
dataframe['Price'] = [5, 8, 7, 9]
dataframe['Lisence'] = [False, True, True, False]
# Show dataframe
dataframe

     Name  Price  Lisence
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange      9    False

In [ ]:
dataframe.shape

(4, 3)

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4 non-null      object
 1   Price    4 non-null      int64
 2   Lisence  4 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 196.0+ bytes

In [ ]:
# print columns name
list(df.columns)

['Name', 'Price', 'Lisence']

In [ ]:
df.describe()

          Price
count  4.000000
mean   7.250000
std    1.707825
min    5.000000
25%    6.500000
50%    7.500000
75%    8.250000
max    9.000000

In [ ]:
# loc, iloc
df.loc[(df.Price == 5)]

    Name  Price  Lisence
0  Lemon      5    False

In [ ]:
df.loc[(df.Price == 5) | (df.Name == 'Banana')]

     Name  Price  Lisence
0   Lemon      5    False
2  Banana      7     True

In [ ]:
df.loc[(df.Price == 5) | (df.Name == 'Banana'), ['Name', 'Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df.iloc[[3]]

     Name  Price  Lisence
3  Orange      9    False

In [ ]:
df.iloc[0:2]

    Name  Price  Lisence
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]
df.iloc[0:2,-1]

0    False
1     True
Name: Lisence, dtype: bool

In [ ]:
sum = df.Price.sum()
print(sum)

29

In [ ]:
max = df.Price.max()
print(max)

9

In [ ]:
count = df['Price'].count()
print(count)

4

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name'] = ['Lemon', 'Apple', 'Banana', 'Orange']
dataframe['Price'] = [5, 8, 7, 9]
dataframe['Lisence'] = [False, True, True, False]

# create row data
new = pd.Series(['Strawberry', 10, True], index = ['Name', 'Price', 'Lisence'])
# append row
dataframe.append(new, ignore_index = True)

         Name  Price  Lisence
0       Lemon      5    False
1       Apple      8     True
2      Banana      7     True
3      Orange      9    False
4  Strawberry     10     True

In [ ]:
# append a column
dataframe['Location'] = ['USA', 'VN', 'SIN', 'Canada']
dataframe

     Name  Price  Lisence Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN
3  Orange      9    False   Canada

In [ ]:
# delete a row
dataframe.drop(2, axis = 0).head(10)

     Name  Price  Lisence
0   Lemon      5    False
1   Apple      8     True
3  Orange      9    False

In [ ]:
# delete a column
dataframe.drop('Price', axis = 1).head(10)

     Name  Lisence
0   Lemon    False
1   Apple     True
2  Banana     True
3  Orange    False

In [ ]:
dataframe['Price'].replace(9, 10).head(5)

0     5
1     8
2     7
3    10
Name: Price, dtype: int64

In [ ]:
# rename columns
dataframe.rename(columns = {'Price':'Cost'}).head()

     Name  Cost  Lisence
0   Lemon     5    False
1   Apple     8     True
2  Banana     7     True
3  Orange     9    False

In [ ]:
# load library
import pandas as pd
# create url
url = 'medals.csv'
# load data
df = pd.read_csv(url)
# show data
df.head()